<div class="program-price">
    {{ content.field_price }}
    {{ content.field_price_description }}
</div>

<div class="program-meta">
    {{ content.field_level }}
    {{ content.field_schedule }}
    {{ content.field_dates }}
    {{ content.field_sessions }}
    {{ content.field_class_size }}
    {{ content.field_location }}
</div>

<button class="btn-primary">Register</button>
<button class="btn-secondary">Add to wishlist</button>

<div class="program__cancel-text">
    {{ content.field_cancel_description }}
</div>