{% set cleaned = metadata|filter(v => v) %}
{% set metadata_string = cleaned|join(' • ') %}

<a href="{{ url }}" class="program-card__link">
  {% block program_image %}
    {% if program_image %}
      <div class="program-card__image">
        {{ program_image }}
      </div>
    {% endif %}
  {% endblock %}

  <div class="program-card__content">

    {% if category_term %}
      <span class="program-card__category">
        {{ include('bizfinlab:tag', {
          label: category_term.label,
          capitalized: true,
          url: path('entity.taxonomy_term.canonical', {'taxonomy_term': category_term.id}),
          variant: 'warning'
        }) }}
      </span>
    {% endif %}

    {% if label %}
      <h3 class="program-card__title">
        {{ label }}
      </h3>
    {% endif %}

    {% block body %}
      {% if body %}
        <div class="program-card__description">
          {{ body }}
        </div>
      {% endif %}
    {% endblock %}

    {% if metadata_string %}
      <div class="program-card__metadata">
        {{ metadata_string }}
      </div>
    {% endif %}
  </div>
</a>